body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f6e9d7;
}

header {
    background: #b18b5e;
    padding: 20px;
    text-align: center;
    color: white;
}

nav {
    background: #d4b892;
    padding: 10px;
    text-align: center;
}

#modo {
    margin: 20px auto;
    display: block;
    padding: 10px 20px;
    background: #b18b5e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.card {
    background: white;
    border: 2px solid #b18b5e;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
}

/* MODO ESCURO */
.dark-mode {
    background-color: #2b2b2b;
    color: #f5f5f5;
}

.dark-mode header,
.dark-mode nav {
    background-color: #444 !important;
}

.dark-mode .card {
    background-color: #3a3a3a;
    color: white;
    border-color: #555;
}
.foto-autor {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

